body{
	display: flex;
	align-items:center !important;
	background-color: #008eff !important;
}
#container{
	width: 100%;
}
#main{
	background-color: red;
    width: 35%;
    margin-left: 30%;
    padding: 7%;
    margin-top: 10%;
}